Repository Setheum-Labs/Setheum, pull requests merged in 2021-06, with the labels that each got.

#202 0.5.0 - SETTer price
  lib-serml/currencies/src/lib.rs
  lib-serml/incentives/src/mock.rs
  lib-serml/prices/src/lib.rs
  lib-serml/prices/src/mock.rs
  lib-serml/serp-auction/Cargo.toml
  lib-serml/serp-auction/src/lib.rs
  lib-serml/serp-auction/src/mock.rs
  lib-serml/serp-auction/src/tests.rs
  lib-serml/serp-treasury/src/lib.rs
  lib-serml/serp-treasury/src/mock.rs
  lib-serml/serp-treasury/src/tests.rs
  lib-serml/serp-treasury/src/weights.rs
  lib-serml/setters/src/lib.rs
  lib-serml/setters/src/mock.rs
  lib-serml/settmint-engine/src/lib.rs
  lib-serml/settmint-engine/src/mock.rs
  lib-serml/settway/src/mock.rs
  lib-serml/support/src/lib.rs
  runtime/neom/src/lib.rs
  runtime/neom/src/weights/setheum_settmint_treasury.rs
  runtime/newrome/src/benchmarking/settmint_treasury.rs
  runtime/newrome/src/lib.rs
  runtime/newrome/src/weights/setheum_settmint_treasury.rs
  runtime/setheum/src/lib.rs
  runtime/setheum/src/weights/setheum_settmint_treasury.rs
Labels: breaking-change, currencies, enhancement, prices, serml, serp, serp-auctions, setters, settmint, stp258, support

#242 0.7.0
  Cargo.lock
  lib-serml/dex/src/lib.rs
  lib-serml/incentives/Cargo.toml
  lib-serml/incentives/src/lib.rs
  lib-serml/incentives/src/mock.rs
  lib-serml/prices/src/lib.rs
  lib-serml/serp-auction/src/mock.rs
  lib-serml/serp-treasury/src/lib.rs
  lib-serml/serp-treasury/src/mock.rs
  lib-serml/serp-treasury/src/tests.rs
  lib-serml/settmint-engine/src/lib.rs
  lib-serml/settmint-engine/src/mock.rs
  lib-serml/support/src/lib.rs
  runtime/neom/Cargo.toml
  runtime/neom/src/weights/setheum_settmint_treasury.rs
  runtime/newrome/Cargo.toml
  runtime/newrome/src/benchmarking/settmint_treasury.rs
  runtime/newrome/src/weights/setheum_settmint_treasury.rs
  runtime/setheum/Cargo.toml
  runtime/setheum/src/weights/setheum_settmint_treasury.rs
Labels: breaking-change, neom-runtime, newrome-runtime, runtime, setheum-runtime

#254 0.7.0 - scripts
  Cargo.lock
  scripts/build-only-wasm.sh
  scripts/docker-hub-publish-dev.sh
  scripts/docker-hub-publish.sh
  scripts/init.sh
  scripts/update-newrome.sh
Labels: CI & CD, scripts, system-wide

#265 0.7.1
  Cargo.lock
  inspect/Cargo.toml
  lib-serml/airdrop/Cargo.toml
  lib-serml/currencies/Cargo.toml
  lib-serml/dex/Cargo.toml
  lib-serml/dex/src/lib.rs
  lib-serml/dex/src/mock.rs
  lib-serml/example/Cargo.toml
  lib-serml/example/src/mock.rs
  lib-serml/example/src/tests.rs
  lib-serml/incentives/Cargo.toml
  lib-serml/incentives/src/lib.rs
  lib-serml/incentives/src/mock.rs
  lib-serml/nft/Cargo.toml
  lib-serml/nft/src/lib.rs
  lib-serml/prices/Cargo.toml
  lib-serml/prices/src/lib.rs
  lib-serml/prices/src/mock.rs
  lib-serml/serp-auction/Cargo.toml
  lib-serml/serp-auction/src/lib.rs
  lib-serml/serp-auction/src/mock.rs
  lib-serml/serp-auction/src/tests.rs
  lib-serml/serp-treasury/Cargo.toml
  lib-serml/serp-treasury/src/lib.rs
  lib-serml/serp-treasury/src/mock.rs
  lib-serml/setters/Cargo.toml
  lib-serml/setters/src/mock.rs
  lib-serml/settmint-engine/Cargo.toml
  lib-serml/settmint-engine/src/mock.rs
  lib-serml/settway/Cargo.toml
  lib-serml/settway/src/mock.rs
  lib-serml/support/Cargo.toml
  lib-serml/support/src/lib.rs
  lib-serml/transaction-payment/Cargo.toml
  lib-serml/transaction-payment/src/lib.rs
  lib-serml/transaction-payment/src/mock.rs
  lib-serml/transaction-payment/src/tests.rs
  node/setheum-dev/Cargo.toml
  node/setheum-dev/cli/Cargo.toml
  node/setheum-dev/service/Cargo.toml
  node/setheum/Cargo.toml
  node/setheum/cli/Cargo.toml
  node/setheum/service/Cargo.toml
  primitives/Cargo.toml
  primitives/src/currency.rs
  primitives/src/lib.rs
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/neom/Cargo.toml
  runtime/neom/src/lib.rs
  runtime/newrome/Cargo.toml
  runtime/newrome/src/benchmarking/incentives.rs
  runtime/newrome/src/lib.rs
  runtime/setheum/Cargo.toml
  runtime/setheum/src/lib.rs
  scripts/init.sh
Labels: bump, currencies, dex, example, pallets & modules

#267 Update
  Cargo.lock
  inspect/Cargo.toml
  lib-serml/airdrop/Cargo.toml
  lib-serml/currencies/Cargo.toml
  lib-serml/dex/Cargo.toml
  lib-serml/example/Cargo.toml
  lib-serml/incentives/Cargo.toml
  lib-serml/nft/Cargo.toml
  lib-serml/prices/Cargo.toml
  lib-serml/serp-auction/Cargo.toml
  lib-serml/serp-treasury/Cargo.toml
  lib-serml/setters/Cargo.toml
  lib-serml/settmint-engine/Cargo.toml
  lib-serml/settway/Cargo.toml
  lib-serml/support/Cargo.toml
  lib-serml/transaction-payment/Cargo.toml
  node/setheum-dev/cli/Cargo.toml
  node/setheum-dev/service/Cargo.toml
  node/setheum/cli/Cargo.toml
  node/setheum/service/Cargo.toml
  rpc/Cargo.toml
  runtime/common/Cargo.toml
  runtime/neom/Cargo.toml
  runtime/newrome/Cargo.toml
  runtime/setheum/Cargo.toml
  scripts/init.sh
Labels: bug, build

#274 Tokens -- Transfer
  Cargo.lock
  primitives/src/currency.rs
  primitives/src/lib.rs
Labels: currencies, tokens

#307 Currency pegs
  Cargo.lock
  README.md
  lib-serml/incentives/src/mock.rs
  lib-serml/prices/src/lib.rs
  lib-serml/prices/src/mock.rs
  lib-serml/serp-auction/src/lib.rs
  lib-serml/serp-treasury/src/lib.rs
  lib-serml/serp-treasury/src/mock.rs
  lib-serml/setters/src/lib.rs
  lib-serml/settmint-engine/src/standard_exchange_rate_convertor.rs
  lib-serml/support/Cargo.toml
  lib-serml/support/src/lib.rs
Labels: breaking-change, enhancement, refactor
